.Privacidade {
    margin-top: 35px;
} 

.input_Privacidade {
    display: flex;
    flex-direction: column;
}

.input_Privacidade label {
    margin-top: 24px;
    margin-bottom: 14px;
}

.input_Privacidade input {
    width: 500px;
    height: 40px;
    border:1px solid rgb(224, 224, 241);
    padding: 15px;
    color:rgb(87, 87, 139);
    border-radius: 10px;
}  

.opções_evento {
    margin-top: 35px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}   









