.select {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 180px;
    height:30px;
    border-radius: 5px;
    appearance: none;
    padding: 6px;
    text-align: center;
    border: 1px solid  rgb(224, 224, 241);
} 

.select label {
    margin-top: 35px;
}

.caixa {
    margin-top: 25px;
    font-size: 15px;
}

