.select {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 3rem;
  border-radius: 5px;
  appearance: none;
  padding: 6px;
  text-align: center;
  border: 1px solid rgb(224, 224, 241);
}

.select label {
  margin-top: 3.5rem;
}

.caixa {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}
